body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* ------------------for mobile--------------- */

.left {
    display: none;
}

.center-content {
    text-align: center;
}
button {
    padding: 5px;
    background-color: white;
    border: 1px solid gainsboro;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
}

.card {
    display: flex;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 10px;
    width: 400px;
    height: 165px;
    font-size: 13px;
}

.right .card img {
    width: 100px;
    height: 165px;
    object-fit: cover;
}

.right .details {
    display: flex;
    flex-direction: column;
}

.footer-details {
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.footer-details i {
    padding-left: 10px;
}

/* -------------------for tablet----------------- */
@media screen and (min-width:650px) and (max-width:1024px) {
    .left {
        display: none;
    }

    .mobile-content {
        display: none;
    }

    .center-content {
        display: none;
    }

    .right {
        display: flex;
        flex-direction: row;
        gap: 1px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .right .card {
        position: relative;
        width: 200px;
        height: 200px;
    }


    .right .details .footer-details {
        display: none;
    }

    .right .card .image img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .right .card .details {
        position: absolute;
        top: 150px;
        left: 20px;
        background-color: white;
        padding: 5px;
        width: 150px;
        box-shadow: 0px 0px 20px #000000;
    }

    .right .card .details h3 {
        margin: 0;
    }

    .right .card .details p {
        font-size: 14px;
    }

    .right .card .details i {
        font-size: 12px;
    }
    .grey {
        background-color: gray;
        padding: 2px;
        color: white;
        margin: 2px;
    }
    .right .card .details .footer-details {
        display: flex;
        font-size: 10px;
        justify-content: space-between;
    }    
    .hide{
        display: none;
    }
}


/* --------------------for desktop device------------------- */
@media screen and (min-width: 1024px) {
    .heading {
        font-size: 16px;
        text-align: center;
    }
    .center-content {
        display: none;
    }

    .tab {
        display: none;
    }

    button {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .left {
        height: 510px;
        width: 500px;
        border: 1px solid gray;
        border-radius: 4px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .left a {
        color: blue;
        text-decoration: none;
    }

    .left .footer-details {
        border: none;
        border-top: 1px solid black;
        font-size: 14px;
    }

    .mobile-left {
        display: none;
    }

    .left i {
        margin: 0px 10px;
    }

    .image-left img {
        width: 500px;
        height: 300px;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        display: flex;
        gap: 5px;
        border: 1px solid gray;
        border-radius: 4px;
        margin: 10px;
        width: 400px;
        height: 163px;
        font-size: 13px;
    }

    .right .card .details {
        display: flex;
        justify-content: space-around;
    }

    .ml {
        margin-left: 100px;
    }

    .mobile {
        display: none;
    }

    .right .footer-details {
        display: none;
    }


    .right .card img {
        width: 150px;
        height: 163px;
    }
}